html,
body {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

body {
  min-width: 1500px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/hero-bg.jpg"); 
  background-repeat: no-repeat;
  background-position: top center;
}

/* .container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 16px;
  } */

.page-header {
  margin-bottom: 50px;
  padding: 40px 0 40px;
  background-color: #288be6;
}

.page-header a {
  margin-left: 60px;
  color:gold;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

/* Імена в Україні */

.title-text {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 1400px;
  text-align: center;
}

.main_title {
  display:flex;
  justify-content: center;
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 80px;
  line-height: 96px;
  font-weight: 400;
}

/* Список літер */

.header_box {
  margin: 0 auto;
  max-width: 1600px;
  margin-bottom: 550px;
  padding-left: 70px;
  padding-right: 70px;
}

.header_content{
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
  transform: none;
  color: #288be6;
  margin-right: 20px;
}

.header_content:hover {
  transform: scaleY(1.2);
  transform: scaleX(1.2);
  transition: 0.7s;
  background-color:none;
  box-shadow: 0px 0px 5px 5px #288be6;
  border-radius: 8px;
}


/* Секція із А */
.litera_section {
  display:flex;
  justify-content: center;
  color:#222222;
}

.litera_list {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 16px;
}

.litera_decor {
  /* max-width: 860px; */
  font-size: 38px;
  font-weight: 500;
  text-decoration: none;
}

.list_number {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}


.list_name {
text-decoration: none;
display: inline-block;
font-size: 22px;
font-weight: 500;
transition: 0.5s;
color:#222222;
}

.list_name:hover {
transform: scaleY(1.2);
transition: 0.5s;
color: #288be6;
border-radius: 12px;
}

.list_det {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s;
  color:#288be6;
}

.list_det:hover {
transition: 0.5s;
color: #288be6;
box-shadow: 0px 0px 5px 5px #288be6;
border-radius: 12px;
}

.list_det_sites {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color:#113f68;
  }

  .list_det_sites:hover {
    transform: scaleX(1.2);
    transform: scaleY(1.2);
    transition: 0.5s;
    color:gold;
    text-decoration: underline;
    }

  .flag {
  height: 20px;
  width: 30px;
  }

  .flag_3 {
    height: 22px;
    width: 90px;
  }

/* ::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
} */

/* .button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;          
  background-color: #e6b728; 
  color: #ffffff;
  margin-left: 800px;          
} */

.button_anchor_end {
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: rgb(42, 41, 37);
  text-shadow:#222222;
  background-color: #d2dce3;
  border-radius: 10px;
  border: none;
  border-color:#d2dce3;
  cursor: pointer;
}

.button_img_end {
  margin-bottom: -20px;
}

.button_anchor_end:hover{
  color:#288be6;
  background-color: #92a4ab;
  border-radius: 20px;
}

/* Експеримент */

.litera_decor_sites {
  font-size: 38px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.litera_decor_sites::before{
  content: "";
  display: block;
  position: absolute;
  top: 2.5rem;
  width: 0px;
  height: 5px;
  background-color: #288be6;
  transition: 0.5s;
}

.litera_decor_sites:hover::before{
  width: 100%;
}

/* footer */

/* .footer__webfont{
  width: 38px;
    height: 38px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    color: #0d0d0d;
    background: #efeef3;
} */

.page-footer {
  margin-top: 80px;
  margin-bottom: 0px;
  padding: 40px 0;
  background-color: gold;
  color: #288be6;
}

.page-footer a {
  margin-left: 60px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
}
